@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Quicksand", sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 36px;
}
h3{
    font-size: 32px;
}
h4{
    font-size: 28px;
}
h5{
    font-size: 24px;
}
h6{
    font-size: 20px;
}
.flex{
    display: flex;
    gap: 30px;
    align-items: center;
}
/* Header section starts. */
.header-section{
    background-color: #314438;
    justify-content: space-around;
    color: #fff;
    padding: 10px 0px;
}
.header-about{
    position: relative;
}
.header-sub-links{
    background-color: #fff;
    padding: 10px;
    width: 130px;
    display: none;
    position: absolute;
    top: 20px;
    left: 0px;
}
.header-sub-links li{
    padding: 3px 0px;
}
.header-sub-links li:hover{
    border-bottom: 2px solid #8DC0D2;
}
.header-links a{
    font-size: 12px;
    color: #fff;
}
.header-sub-links a{
    color: #000;
}
.header-about:hover .header-sub-links{
    display: block;
}
.header-image{
    height: 20px;
    width: 100%;
}
.header-para{
    font-size: 12px;
}
.header-para a{
    color: #fff;
    text-decoration: underline ;
}
.header-para a:hover{
    color: #8DC0D2;
}
.header-logo-section{
    background-color: #F3F0ED;
    padding: 10px 30px;
    justify-content: space-between;
}
.header-logo img{
    height: 30px;
    width: 100%;
}
.header-home-btn h6{
    font-size: 14px;
    text-transform: uppercase;
}
.header-home-btn h6:first-child{
    color: #314438;
}
.header-home-btn h6:last-child{
    color: #8DC0D2;
}
.header-home-btn button{
    padding: 8px 16px;
    background-color: #314438;
    border-radius: 20px;
    border: none;
    position: relative;
}
.header-home-btn{
    gap: 7px;
}
.header-design{
    cursor: pointer;
}
.header-home-btn span{
    background-color: #fff;
    padding: 8px;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
}
.header-design-btn{
    padding: 5px 10px;
    background-color: #314438;
    border: 2px solid #314438;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}
.header-design-btn:hover{
    background-color: transparent;
    color: #000;
}
/* Header section ends. */

/* Nav section starts. */
.nav-main{
    background-color: #fff;
    position: relative;
    padding: 15px 0px;
}
.nav-shop-links{
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    height: 60vh;
    justify-content: space-evenly;
    z-index: +9;
    visibility: hidden;
    transition: all 0.8s ease-in-out;
}
.nav-shop-by:hover .nav-shop-links{
    visibility: visible;
    transition: all 0.8s ease-in-out;
}
.nav-shop-img img{
    width: 100%;
    height: 139px;
}
.nav-shop-img{
    width: 15%;
    position: relative;
}
.nav-shop-img::before{
    content: "";
    background-color: #8DC0D2;
    width: 3px;
    height: 100%;
    position: absolute;
    top: 0px;
    left: -40px;
}
.nav-shop-img h6{
    font-size: 16px;
}
.nav-shop-img p{
    font-size: 13px;
}
.nav-shop-sublinks h6{
    padding-bottom: 30px;
}
.nav-shop-sublinks a:hover{
    color: #8DC0D2;
    text-decoration: underline;
    text-decoration-color: #8DC0D2;
}
.nav-links{
    justify-content: center;
}
.nav-links a{
    font-size: 16px;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
}
.nav-link-sale a{
    color: rgb(243, 128, 128);
}
.nav-shop-sublinks a{
    color: #000;
    padding: 3px 0px;
    font-size: 14px;
    font-weight: 400;
}
.nav-chairs-img{
    width: 100%;
}
.nav-chairs-img img{
    height: 250px;
}
.nav-chairs-img::before{
    content: "";
    display: none;
}
.nav-chairs-sublinks{
    width: 20%;
}
/* Nav section ends. */

/* Hero section starts */
.hero-video {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.hero-video video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -1;
}
/* Hero section ends */

